body,
html {
    margin: 0;
    padding: 0
}

.header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px 20%;
    width: 100%;
    height: 250px;
    background-color: rgb(255, 127, 217);
    justify-content: center;
    align-items: center;
}


.logo {
    display: flex;
    height: 125px;
    background-color: blue;
    flex: 1;
    min-width: 280px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box;
    padding: 0px 10px; */
    height: 125px;
    background-color: crimson;
    align-items: center;
    flex: 3;
    min-width: 280px;
}

.desc-left {
    display: flex;
    height: 50%;
    flex: 1;
    background-color: rgb(11, 184, 40);
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

.desc-right {
    display: flex;
    flex: 3;
    height: 50%;
    background-color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
    background-color: rgb(199, 202, 18);
}

.left-content {
    display: flex;
    flex: 1;
    background-color: rgb(202, 18, 125);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: rgb(220, 217, 20);
    justify-content: center;
    align-items: center;

}

.top-right {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: rgb(7, 148, 66);
    min-width: 85.5px;
}

.top-left {
    display: flex;
    flex: 5;
    height: 100%;
    background-color: rgb(53, 255, 131);
    min-width: 250px;
}

.bottom-content {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(113, 121, 0);
    justify-content: center;
    align-items: center;
}

.bottom-midle {
    display: flex;
    height: 50%;
    width: 50%;
    background-color: darkgoldenrod;
    justify-content: center;
    align-items: center;
}

.right-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    /* height: 100%; */
    background-color: rgb(18, 150, 202);
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-width: 55%;
}

.main-right {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgb(220, 217, 20);
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 50%;
}

.midle-right {
    display: flex;
    width: 50%;
    height: 300px;
    background-color: rgb(20, 220, 80);
}

.right-angle {
    display: flex;
    width: 25%;
    height: 100px;
    background-color: rgb(13, 53, 165);
    align-items: flex-end;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100px;
    background-color: rgb(129, 12, 81);
    flex-direction: column;
}

.footer-top {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: rgb(20, 220, 20);
    min-height: 25%;
    min-width: 25%;
}

.footer-bottom {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: rgb(20, 73, 220);
    min-width: 25%;
    min-height: 25%;
}